body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

img{
  height: 55%;
  width: 55%;
   object-fit: cover; 
   padding-left: 23%;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #555;
}

input, select, button {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #2831a7;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #2831a7;
}



.status {
  font-weight: bold;
  color: green;
  margin-left: 10px;
}

#confirmation {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: blue;
}